/* --Font Perso-- */

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');




/* General */



html {
    max-width: 1000px;
    min-width: 992px;
    font-size: 14px;
    margin: auto;
}

main {
    margin: 0 35px 0 35px;
}

body {
    margin: 10px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 16.5px;
}

h3 {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 13px;
}

.flex {
    display: flex;
}

.marginNul {
    margin: 0;
}

.textBold {
    font-weight: bold;
}

.paddingLeft {
    padding-left: 20px;
}





/* Header */

header {
    justify-content: space-between;
    margin-bottom: 40px;
}

.logo {
    margin-top: 40px;
    width: 500px;
}

nav li {
    padding-top: 60px;
    font-size: 13px;
}

nav a {
    padding: 25px;
    letter-spacing: 0.5px
}

nav li a:hover {
    color: #0065FC;
    border-top: 4px solid #0065FC;
    padding-top: 58px;
}




/* Search */

.cube {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color:#F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 0;
}

input[type="text"] {
    font-size: 14px;
}

.searchbar {
    margin: 0;
}

.btn-search-mobile {
    display: none;
}

.cadre {
    display: flex;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color:#F2F2F2;
    width: 150px;
}

.filter-frame {
    margin-left: 0;
    margin-right: 0;

}

form {
    display: flex;
    width: 400px;
    margin: 0;
}

input {
    display: flex;
    justify-content: center;
    width: 200px;
    border: none;
    justify-content: flex-start;
    outline: none;
    font-weight : bold ;
}


.send {
    display: flex;
    justify-content: center;
}

button {
    width: 115px;
    border: none;
    background-color:#0065FC;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight : bold ;
    font-size: 10px;
}




/* Filtre */

div h3 {
    width: 50px;
    font-size: 13px;
    /* margin-top: 18px; */
    display: flex;
    align-items: center;
}

.category {
    height: 34px;
    border: solid;
    border-left: none;
    border-radius: 50px;
    border-color:#F2F2F2 ;
    border-width: 2px;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 10px;
    
}

.icon-cat {
    color: #0065FC;
    background-color:#DEEBFF ;
    border-radius: 50px 50px 50px 50px;
    display: flex;
    align-items: center;
    width: 35px;
    margin: 0;
    justify-content: center;
    height: 34px;
}

.category:hover {
    background-color:#F2F2F2 ;
    background-position: left bottom;
}

span {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-self:center;

}


.text-cat {
    margin: 13px;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    width: auto;
    flex-direction: row;

}

.filtre-cat {
    display: flex;
    flex-wrap: wrap;
}

.filtre {
    display: flex;
    flex-wrap: wrap;
    margin-top: 18px;
    
}




/* Info */

.info {
    color: #0065FC;
}

.info-fit {
    border-radius: 25px;
    border: 2px solid #F2F2F2 ;
    width: 17px;
    height: 17px;
}

div .info-fit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.flex-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info-text {
    margin-left: 8px;
}




/* --Cartes boxes-- */

.selection, .populaire {
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 460px;
    margin: 10px;
}

#main-box {
    display: flex;
    margin: 0px 30px 0px 30px;
}

.selection > h3 {
    margin: 0;
    min-width: 500px;
}




/* --box 1--  */

.box-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 80%;

}

.hotels {
    background-color: white;
    border-radius: 15px;
    width: auto;
    padding: 1%;
    flex-wrap: wrap;
    box-shadow: 1px 1px 1px #0000000e;
    margin-bottom: 20px;
    height: 140px;
}

.hotels:hover {
    box-shadow: 0 8px 16px 0 rgba(149, 149, 149, 0.2);
  }


.image {
    width: 163px;
    height: 85px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    object-fit: cover;
}

.titre-section {
    padding: 26px;
    float: left;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    height: 10%;
    font-size: 17px;
    

}

.description {
    float: left;
}

.description h4 {
    font-size: 12px;
    margin: 5px;
}

.description p {
    font-size: 12px;
    margin: 5px;
}

h4 {
    font-size: 12px;
    /* margin: auto; */
}



.more {
    font-size: 15px;
    height: 10%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 5%;

}




/* --box-2-- */

.populaire {
    flex: 1;
    width: 32%;
}

.popular-title {
    display: flex;
    align-items: baseline;
}

.populaire h3 {
    padding: 26px;
    float: left;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 300px;
    height: 10%;
    font-size: 17px;
}

.top-image {
    width: 40%;
    height: 90px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0;
    object-fit: cover;
}

.top-host {
    background-color: white;
    border-radius: 15px;
    width: auto;
    height: 120px;
    padding: 2%;
    display: flex;
    margin: 0px 28px 25px 28px;
    height: auto;
    box-shadow: 2px 2px 2px #00000005;
    position: relative;
}

.top-host:hover {
    box-shadow: 0 8px 16px 0 rgba(149, 149, 149, 0.2);
  }

.logo-top {
    margin-right: 30px;
}

.description-aside {
    display: flex;
    flex-direction: column;
    height: 90%;
    margin-left: 10px;
}


.description-aside p {
    font-size: 12px;
    margin: 0;
}

.description-aside h4 {
    margin: 0;
}

.box-2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 90%;

}




/* Ratings */

.rating {
    display: flex; 
    margin-left: 5px;
}

.stars-inactive {
    display: inline-block;
    align-items: flex-start;
    font-size: 9px;
    position: relative;
    color: #d2d1d1  ;
}

.stars-active {
    display: inline-block;
    font-size: 9px;
    overflow: hidden;
    position: absolute;
    color: #0065FC ;
}

i {
    margin: 0;
}

.description b {
    font-weight: 600;
}

.margin-nul {
    margin-left: 0px;
}

.rating-top {
    display: flex;
    margin-left: 0px;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}


/* BOX 2 */

.second-box {
    margin: 0px 30px 0px 30px;
    width: 100%;
}

.second-box h2 {
    display: flex;
    flex: 1 1 100%;
    height: 30px;
    margin: 0px 30px 0px 30px;
    padding: 20px 20px 5px 20px;
}

.activities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 30px 40px 30px;
    height: auto;
}

.container-l {
    display: flex;
    flex-wrap: wrap;
    width: 23%;
    height: fit-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
}

.container-m {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
}

.container-s {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 45%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
}

.container-xs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 40%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
}

.above {
    display: flex;
    width: 20%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.l-picture {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.s-picture {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 108px;
    object-fit: cover;
}

.m-picture {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 130px;
    object-fit: cover;
}

.xs-picture {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 95px;
    object-fit: cover;
}

.where {
    width: 100%;
}

.location {
    width: 100%;
    height: 15px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 12px;
}

.container-l:hover, .container-m:hover, .container-s:hover, .container-xs:hover {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}




/* Footer */

.footer {
    background-color: #F2F2F2;
    padding: 25px 0px 40px 0;
    height: 120px;

}

.contain {
    max-width: 1200px;
    margin: auto;
}

.row {
    display:flex;
    flex-wrap: wrap;
;
}

.footer-col {
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    line-height: 22px ;
    padding-left: 5%;
    padding-right: 8%;
}

.footer-col h4 {
    font-size: 13px;
    letter-spacing: 0.3px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.footer-col  li a {
    font-size: 12px;
    letter-spacing: 0.3px;   
}






/* Tablettes */
@media screen and (min-width: 768px) and (max-width: 991px)
{
    /* General */

    html {
        max-width: 992px;
        min-width: 768px;
    }

    #filtre {
        padding-left: 5px;
        padding-right: 5px;
    }

    form {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    h3 {
        margin-left: 8px;
        padding-bottom: 5px;
    }

    .text-cat {
        padding: 20px;
    }

    .category {
        margin: 6px;
        width: auto;
        display: flex;
        justify-content: center;
    }

    .active {
        order: -1;
        flex: 1 0 100%;
    }

    /* Cards */

    .wrap-media {
        display: flex;
        margin: 0px 30px 0px 30px;
        flex-wrap: wrap;
    }

    .populaire {
        display: flex;
        flex: 1 1 100%;
        height: fit-content;
    }

    .selection {
        flex-direction: column;
        width: 100%;
    }

    .box-1 {
        flex-direction: column;
        justify-content: flex-start;
    }

    .hotels {
        margin: 5px;
    }

    .image {
        width: 100%;
        height: 90px;
    }

    .more {
        padding: 0 25px;
        bottom: 15px;
    }

    .top-host {
        padding: 1%;
        margin: 1%;
    }

    .top-image {
        height: 140px;
    }

    .description h4 {
        font-size: 14px;
        margin: 1px 5px;
    }

    .description-aside h4, .description-aside p {
        font-size: 14px;
        padding-bottom: 5px;
    }

    .stars-active, .stars-inactive {
        font-size: 12px;
    }

    .location {
        font-size: 14px;
    }

    
}




/* Smartphones */
@media screen and (max-width: 768px)
{
    /* General */

    html {
        max-width: 768px;
        min-width: 375px;
    }

    header {
        margin: 0;
        flex-direction: column; 
        justify-content:center;
    }

    main {
        margin: 0;
    }

    h2 {
        padding-top: 30px;
        margin-left: 8%;
        font-size: 20px;
        margin-right: 8%;
    }

    .searchbar p {
        margin-left: 8%;
    }

    p {
        padding-top: 15px;
        padding-left: 10px;
        font-size: 15px;
    }

    a {
        font-size: 18px;
    }

    .logo {
        display: flex;
        flex-grow: initial;
        justify-content: center;
        width: 100%;
    }




    /* --Filtres-- */

    .category {
        margin-left: 15px;
        margin-bottom: 5px;
    }

    #filtre {
        display: flex;
        flex-wrap: wrap;
    }

    h3 {
        margin-left: 15px;
        padding-bottom: 10px;
    }

    .text-cat {
        font-size: 20px;
    }

    .filtre-cat {
        display: flex;
    }




    /* --Barre de recherche-- */

    .btn-search {
       display: none;
    }

    button {
        width: 60px;
        height: 60px;
        border-radius: 10px 10px 10px 10px;
        
    }

    .btn-search-mobile {
    display: initial;
    }

    .cube {
        width: 60px;
        height: 60px;
    }

    .filter-frame {
        display: flex;
    }

    #destination {
        width: 200px;
    }

    p .info-text {
       font-size: 14px;
    } 

    input[type="text"] {
    font-size: 18px;
    }

    nav ul {
        width: 100%;
    }

    nav li {
        width: 50%;
        text-align: center;
        padding: 20px 0;
        border-bottom: 3px solid #f2f2f2;
    }

    nav li a:hover {
        border-top: none;
    }

    nav li:hover {
        border-bottom-color:#0065FC;
    }
    
    div h3 {
        font-size: 18px;
        width: 100%;
    }

    form {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    input {
       width: 230px;
    }

    .cadre {
        width: 50%;
    }

    .category {
        height: 50px;
    }

    .icon-cat {
        height: 51px;
        width: 50px;
    }

    .text-cat {
        font-size: 17px;
        margin: 10px;
    }

    div #filtre {
        margin: 0;
        padding: 0;
    }

    .filtre {
        margin-left: 3%;
    }

    


    /* --Info-- */

    div .flex-info {
        padding: 15px;
    }

    div .info-fit {
        width: 20px;
    }

    .flex-info {
        margin-left: 8%;
    }




    /* Cards */

    .wrap-media {
        display: flex;
        margin: 0 !important;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .populaire {
        width: 100%;
    }

    .top-image {
        width: 45%;
        height: 140px;
    }

    .selection, .populaire {
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 0px
    }

    .selection {
        background-color: white;
    }

    .box-1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: unset;
        height: fit-content;
    }

    .hotels {
        width: auto;
        height: auto;
        margin: 0px 28px 25px 28px;
        padding: 2%;
    }

    .top-host {
        margin: 0px 28px 10px 28px;
    }

    .selection > h3 {
        margin: 3%;
        min-width: 0;
        font-size: 18px;
        width: auto;
    }
    
    .image {
        width: 100%;
        height: 130px;
    }

    .popular-title h3 {
        font-size: 18px;
        padding: 10%;
    }

    .description-aside h4, .description-aside p {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .description-aside p {
        padding: 0;
    }

    .stars-active, .stars-inactive {
        font-size: 14px;
    }

    .description h4, .description p {
        font-size: 16px;
    }

    .description p {
        padding: 0;
    }

    p {
        padding: 0;
    }


    /* Activities */
    
    .second-box {
        margin: 0;
        padding: 0;
    }

    .activities {
        flex-direction: column;
    }

    .container-l,  .container-m  {
        width: 100%;
        margin-bottom: 20px;
    }

    .l-picture, .s-picture, .m-picture, .xs-picture {
        height: 100px;
    }

    .container-xs,  .container-s {
        margin-bottom: 20px;
    }

    .above {
        width: 100%;
    }

    .more {
        padding-left: 10%;
    }

    .second-box h2 {
        margin: 0;
        padding:50px 10% 20px;
        font-size: 18px;
    }

    .location {
        font-size: 14px;
    }

    .row {
        flex-direction: column;
    }

    .footer {
        height: fit-content;
    }

    .footer-col {
        padding-left: 10%;
        margin-top: 25px;
    }

    .footer-col h4, .footer-col li a {
        font-size: 15px;
    }

}