/* --Font Perso-- */

@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

/* General */

html {
  max-width: 1920px;
  min-width: 992px;
  font-size: 15px;
  margin: auto;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  padding-right: 15px;
  padding-left: 15px;
}

.ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.no-visual {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}

.flex {
  display: flex;
}

.marginNul {
  margin: 0;
}

.textBold {
  font-weight: bold;
}

.paddingLeft {
  padding-left: 20px;
}

/* Header */

.header {
  justify-content: space-between;
  margin-bottom: 40px;
}

.logo {
  margin-top: 40px;
  width: 500px;
}

.nav a {
  padding: 25px;
  letter-spacing: 0.5px;
  border-top: 2px solid transparent;
  border-bottom: 3px solid transparent;
}

.nav a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

/* Search */

.cube {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #f2f2f2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 0;
}

input[type="text"] {
  font-size: 14px;
}

.searchbar {
  margin: 0;
}

.btn-search-mobile {
  display: none;
}

.cadre {
  display: flex;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: #f2f2f2;
  width: 150px;
}

.filter-frame {
  margin-left: 0;
  margin-right: 0;
}

.form {
  display: flex;
  width: 400px;
  margin: 0;
}

.input {
  display: flex;
  justify-content: center;
  width: 200px;
  border: none;
  justify-content: flex-start;
  outline: none;
  font-weight: bold;
}

.send {
  display: flex;
  justify-content: center;
}

.button {
  width: 115px;
  border: none;
  background-color: #0065fc;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: bold;
  font-size: 14px;
}

/* Filtre */

.filtre h3 {
  width: 50px;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.category {
  height: 34px;
  border: solid;
  border-left: none;
  border-radius: 50px;
  border-color: #f2f2f2;
  border-width: 2px;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.icon-cat {
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50px 50px 50px 50px;
  display: flex;
  align-items: center;
  width: 35px;
  margin: 0;
  justify-content: center;
  height: 34px;
}

.category:hover {
  background-color: #f2f2f2;
  background-position: left bottom;
}

.span {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-self: center;
}

.text-cat {
  margin: 13px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  width: auto;
  flex-direction: row;
}

.filtre-cat {
  display: flex;
  flex-wrap: wrap;
}

.filtre {
  display: flex;
  flex-wrap: wrap;
  margin-top: 18px;
}

/* Info */

.info {
  color: #0065fc;
}

.info-fit {
  border-radius: 100px;
  border: 1px solid #f2f2f2;
  width: 17px;
  height: 17px;
}

.info-fit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.flex-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info-text {
  margin-left: 8px;
  margin-right: 8px;
}

/* --Cartes boxes-- */

.selection,
.populaire {
  background-color: #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.selection {
  margin-right: 33px;
  width: 70%;
}

#main-box {
  display: flex;
}

.selection > h3 {
  margin: 0;
  min-width: 500px;
}

/* --box 1--  */

.box-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* height: 80%; */
}

.hotels {
  background-color: white;
  border-radius: 15px;
  width: 28%;
  min-width: 200px;
  padding: 0.5%;
  flex-wrap: wrap;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-bottom: 33px;
  height: 180px;
}

.hotels:hover {
  box-shadow: 0 8px 16px 0 rgba(149, 149, 149, 0.2);
}

.image {
  width: 100%;
  height: 60%;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
  object-fit: cover;
}

.titre-section {
  padding: 30px 30px 20px 30px;
  float: left;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  height: 10%;
  font-size: 18px;
}

.description {
  float: left;
}

.description > h4 {
  font-size: 15px;
  margin: 5px;
}

.description > p {
  font-size: 14px;
  margin: 5px;
}

.more {
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 30px;
  padding-bottom: 30px;
}

/* --box-2-- */

.populaire {
  flex: 1;
  width: 30%;
}

.popular-title {
  display: flex;
  align-items: baseline;
}

.populaire h3 {
  padding: 30px 30px 20px 30px;
  float: left;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 300px;
  /* height: 10%; */
  font-size: 18px;
}

.top-image {
  width: 45%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
}

.top-host {
  background-color: white;
  border-radius: 15px;
  padding: 1%;
  display: flex;
  margin: 0px 28px 25px 28px;
  height: 127px;
  box-shadow: 2px 2px 2px #00000005;
  position: relative;
}

.top-host:hover {
  box-shadow: 0 8px 16px 0 rgba(149, 149, 149, 0.2);
}

.logo-top {
  margin-right: 30px;
}

.description-aside {
  display: flex;
  flex-direction: column;
  height: 90%;
  margin-left: 10px;
}

.description-aside p {
  font-size: 14px;
  margin: 0;
}

.description-aside h4 {
  margin: 0;
  font-size: 15px;
}

.box-2 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  /* height: 90%; */
}

/* Ratings */

.rating {
  display: flex;
  margin-left: 5px;
}

.stars-inactive {
  display: inline-block;
  align-items: flex-start;
  font-size: 12px;
  position: relative;
  color: #d2d1d1;
  width: max-content;
}

.stars-active {
  display: inline-block;
  font-size: 12px;
  overflow: hidden;
  position: absolute;
  color: #0065fc;
  width: max-content;
}

.description b {
  font-weight: 600;
}

.margin-nul {
  margin-left: 0px;
}

.rating-top {
  display: flex;
  margin-left: 0px;
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}

/* BOX 2 */

.second-box {
  margin: 0px 30px 0px 30px;
  width: 100%;
}

.second-box > h2 {
  display: flex;
  flex: 1 1 100%;
  height: 30px;
  padding: 20px 20px 5px 0px;
  font-size: 18px;
}

.activities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  margin-bottom: 30px;
}

.container-l {
  display: flex;
  flex-wrap: wrap;
  width: 23%;
  height: 450px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
}

.container-m {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 231px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
}

.container-s {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 205px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
}

.container-xs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 180px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
}

.above {
  display: flex;
  width: 23%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.l-picture {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 88%;
  object-fit: cover;
}

.s-picture {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 74%;
  object-fit: cover;
}

.m-picture {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 76%;
  object-fit: cover;
}

.xs-picture {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.where {
  width: 100%;
}

.location {
  width: 100%;
  height: 15px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 15px;
}

.container-l:hover,
.container-m:hover,
.container-s:hover,
.container-xs:hover {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

/* Footer */

.footer {
  background-color: #f2f2f2;
  padding: 25px 0px 40px 0;
  height: 120px;
}

.contain {
  max-width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  line-height: 22px;
  padding-left: 5%;
  padding-right: 8%;
}

.footer-col h4 {
  font-size: 15px;
  letter-spacing: 0.3px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.footer-col li a {
  font-size: 12px;
  letter-spacing: 0.3px;
}
