/* General */

html {
  max-width: 992px;
  min-width: 768px;
  font-size: 16px;
}

.form {
  display: flex;
  width: 100%;
  justify-content: center;
}

.no-visual {
  font-size: 15px;
}

.text-cat {
  padding: 20px;
  font-size: 16px;
}

.category {
  margin: 6px;
  width: auto;
  display: flex;
  justify-content: center;
}

.active {
  order: -1;
  flex: 1 0 100%;
}

/* Searchbar */

input[type="text"] {
  font-size: 16px;
}

/* Filtres */

.filtre h3 {
  font-size: 16px;
}

/* Cards */

.wrap-media {
  display: flex;
  flex-wrap: wrap;
}

.populaire {
  display: flex;
  flex: 1 1 100%;
  height: fit-content;
}

.selection {
  flex-direction: column;
  width: 100%;
  margin-right: 0;
  margin-bottom: 20px;
}

.box-1 {
  flex-direction: row;
}

.hotels {
  margin: 5px;
}

.image {
  width: 100%;
  height: 110px;
}

.more {
  padding: 30px;
}

.top-host {
  height: 140px;
  padding: 0.5%;
  margin: 1%;
}

.top-image {
  height: 100%;
  min-width: 160px;
}

.description h4 {
  font-size: 16px;
  margin: 1px 5px;
}

.description-aside h4,
.description-aside p {
  font-size: 16px;
  padding-bottom: 5px;
}

.stars-active,
.stars-inactive {
  font-size: 14px;
}

.location {
  font-size: 16px;
}

/* Footer */

.footer-col h4 {
  font-size: 16px;
}
